/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Luckiest+Guy&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Luckiest+Guy&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}

html {
    font-family: 'fira-mono', sans-serif;
    color: #201f1f;
    background-color: #EBEBEB;
}

h1, h2, h3, h4 {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.2em;
}

a {
    color:#201f1f;
    text-transform: uppercase;
    font-family:'fira-mono', sans-serif;
}

/* HEADER */
header {
    position: fixed;
    background-color: #201f1f;
    z-index: 999;
    width: 100%;
    height: 5rem; 
}

/* NAV BAR */
.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    line-height: 5rem;   
}

#home {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.2em;
    font-size: 3rem;
    color: #EBEBEB;
}

#home i {
    color: #659B5E;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 1.3rem;   
}

.nav-link {
    transition: 0.7s ease;
    color: #EBEBEB;
}

.nav-link:hover {
    background-color: #659B5E;
    font-size: 150%;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #201f1f;
}

/* HERO IMAGE */
#hero-section {
    max-width: 100%;
    height: 60rem;
    background: url("../images/hero-img.png") center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* HERO IMAGE COLOUR */
#hero-section::before {
    content:"";
    width: 100%;
    height: 100%;;
    background-color: rgba(52, 51, 51, 0.4);
    position: absolute;

}

#hero-section * {
    z-index: 1;
}

/* HERO IMAGE TEXT */
#hero-section h1 {
    font-size: 5rem;
    color:#EBEBEB;
}

#hero-section p {
    font-size: 1.7rem;
    padding: 0 15rem;
    color: #EBEBEB;
    margin-top: 1rem;

}

#hero-button {
    cursor: pointer;
    display: inline-block;
    padding: 0.9rem 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 0.7rem;
    background-color: #EBEBEB;
    color: black;
}

#hero-button:hover {
    background-color: #659B5E;
    transition: .6s ease-in;
    
}

/* ABOUT US SECTION */
.title-about-us {
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
  }

/* ABOUT US FLEX SECTION ONE */
.flex-container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.flex-item-1 {
    flex-grow: 1;
    margin-top: 0.4rem;
}

.flex-item-1 h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.flex-item-1 p {
    text-align: center;
    padding: 0.5rem 4rem;
    font-size: 1.7rem;
}

/* FACILITIES SECTION */
.title-facilities {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

/* FACILITIES FLEX SECTION */
.flex-container-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: #659b5e;
    padding: 7rem 5rem;

/* BACKGROUND WAVE EFFECT FACILITIES I DID NOT CODE THIS */
    --mask: radial-gradient(111.8px at 50% 150px, #000 99%, #0000 101%)
    calc(50% - 100px) 0/200px 51% repeat-x,
  radial-gradient(111.8px at 50% -100px, #0000 99%, #000 101%) 50% 50px/200px
    calc(51% - 50px) repeat-x,
  radial-gradient(111.8px at 50% calc(100% - 150px), #000 99%, #0000 101%)
    calc(50% - 100px) 100%/200px 51% repeat-x,
  radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
    calc(100% - 50px) / 200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.flex-item-2 {
    text-align: start;
    font-size: 1.7rem;
    margin: 1rem 1rem;   
}

/* ABOUT US FLEX SECTION TWO */
.flex-container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.flex-item-3 {
    flex-grow: 1;
    margin-top: 0.4rem;
}

.flex-item-3 h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.flex-item-3 p {
    text-align: center;
    padding: 0.5rem 4rem;
    font-size: 1.7rem;
}

/* BENIFITS SECTION */
.title-benifits {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.flex-container-four {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #659b5e;
    padding: 7rem 5rem;

    /* BACKGROUND WAVE EFFECT BENIFITS SECETION I DID NOT CODE THIS */
    --mask: radial-gradient(111.8px at 50% 150px, #000 99%, #0000 101%)
    calc(50% - 100px) 0/200px 51% repeat-x,
  radial-gradient(111.8px at 50% -100px, #0000 99%, #000 101%) 50% 50px/200px
    calc(51% - 50px) repeat-x,
  radial-gradient(111.8px at 50% calc(100% - 150px), #000 99%, #0000 101%)
    calc(50% - 100px) 100%/200px 51% repeat-x,
  radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
    calc(100% - 50px) / 200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.flex-item-4 {
    text-align: start;
    margin: 1rem 1rem;   
}

.flex-item-4 i {
    font-size: 4rem;
    display: block;
    text-align: center;
}

.flex-item-4 h3 {
    text-align: center;
    font-size: 2rem;
}
  
.flex-item-4 p {
    text-align: center;
    font-size: 1.7rem;
}












